html {
    background-color: rgb(234, 235, 235);
    width: 100%;
}

html, body {
    padding:0;
    margin:0;
    height:100%;
}
main {
    width: 100%;
    height: 5149px;
    position: relative;
    top: 80px;
    left: 0;
} 

img {
   width: 100%;
   height: 100%;
   object-fit:cover;
}

/* Fonts */
h1,
h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}
h1 {
    color:rgb(57, 133, 87);
}
h2 {
    color:rgb(165, 220, 228);
    font-size: 30px;
}

p,
th,
td,
.chapitre li,
label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: rgb(29, 31, 32);
}

a {
    color: rgb(165, 220, 228);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/* Header */
.navlogo {
    height: 70px;
    padding: 5px 10px;
    width: auto;
}
header {
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(29, 31, 32);
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
nav {
    display: inline-block;
    padding-right: 40px;
    padding-top: 15px;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
}
nav ul li a {
    text-decoration: none;
}

/* Menu Mobile */
.dropdown {
    display:none;
    position: relative;
    padding: 4% 25px;
    z-index: 10;
}
.dropbtn {
    background-color:rgb(29, 31, 32);
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(165, 220, 228, 1);
    color:rgb(165, 220, 228);
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
}
.dropbtn:hover {
    opacity: 0.7;
}
.dropdown-content a:hover,
nav ul li a:hover {
    color:rgba(165, 220, 228, 0.7);
}
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100%;
  overflow: auto;
  z-index: 3;
  right: 0;
}
.dropdown-content a {
    background-color: rgb(29, 31, 32);
    color: rgb(165, 220, 228);
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Grid */
section,
footer,
.reglement {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(10, 85px);
    grid-template-columns: 2% repeat(6, 1fr) 2%;
    gap: 12px;
  } 

/* Premier Viewport */
#accueilintro {
    background-color: rgb(29, 31, 32);
    grid-template-rows: repeat(15, 85px);
}
.photoaccueil {
    grid-area: 1 / 1 / 16 / 5;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.photoaccueil img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.gradient {
    grid-area: 5 / 1 / 16 / 5;
    background-image: linear-gradient(rgba(253, 241, 231, 0), rgba(29, 31, 32, 1));
    z-index: 2; 
}

.titreaccueil {
    grid-area: 2 / 5 / 4 / 8;
    z-index: 3;
    text-align: right;
    font-size: 65px;
    color:rgb(57, 133, 87);
    padding: 0;
    margin: 0;
}

.introaccueil {
    grid-area: 5/5/7/7;
    width: 85%;
    text-align: left;
    color:rgb(165, 220, 228);
}

.txtintro {
    grid-area: 8 / 5 / 15 / span 3;
    padding: 25px 30px;
    background-color: rgb(57, 133, 87);
    border-radius: 5px;
    margin-top: 35px;
    justify-self: center;
    align-self: center;
}

.txtintro h2, 
.txtintro p {
    color: rgb(234, 235, 235);
}
.txtintro a {
    color: rgb(29, 31, 32);
}
.txtintro .images {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.txtintro figure {
    width: 44%;
    margin: 5px;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    overflow: hidden;
}

.txtintro figure img {
    width: 100%;
}

.txtintro .diciolo2 {
    width: 49%;
}


/* Slider */
#slideshow {
    grid-template-rows: repeat(9, 85px);
}
#slideshow h2 {
    grid-area: 2 / 2 / 3 / 4;
    z-index: 2;
    align-self: center;
    color:rgb(57, 133, 87);
}

.splide {
    grid-area: 3/2/8/8;
}
.splide__slide h3 {
    padding: 10px 15px;
    margin: 20px;
    font-family: 'Libre Baskerville', serif;
    color: rgb(165, 220, 228);
    background-color: rgba(29, 31, 32, 0.4);
    display: inline-block;
    border-radius: 5px;
}

/* Grille Horaire */

#sectionhoraire {
    background-color: rgb(165, 220, 228);
    grid-template-rows: repeat(6, 85px);
    height: auto;
}

.titrehoraire {
    grid-area: 2/2/3/4;
    color:  rgb(57, 133, 87);
    align-self: end;
}
.grille {
    grid-area: 3/2/6/6;
    background-color:  rgb(165, 220, 228);
    justify-self: start;
    padding: 15px;
    width: 90%;
}
.grillehoraire {
    width:100%;
    height: 100%;
    text-align: left;
    border-collapse: collapse;
    empty-cells: hide;
    border-top: 1px solid rgb(57, 133, 87);
}
.grillehoraire th {
    width: 25%;
    color:rgb(12, 116, 58);
    font-weight: bold;
}
.grillehoraire th, td {
    border-bottom: 1px solid rgb(57, 133, 87);
  }

#sectionhoraire video {
    grid-area: 1/6/7/9;
    height: 100%;
}
#sectionhoraire figure img {
    width: 100%;
}

/* Cotisation */
#cotisation {
    grid-template-rows: repeat(6, 85px);
    height: auto;
}
#cotisation h2{
    grid-area: 1/6/3/8;
    align-self: end;
    justify-self: end;
    color:rgb(57, 133, 87);
    padding-right: 15px;
}
#cotisation div{
    grid-area: 3/5/6/8;
    align-self: end;
    justify-self: end;
    text-align: right;
    padding-right: 15px;
}
#cotisation p {
    padding-bottom: 7px;
}
#cotisation .parenthese {
    opacity: 0.5;
}
#cotisation .total {
    padding-top: 10px;
    border-top:rgb(165, 220, 228) 0.8px solid;
}
#cotisation figure {
    grid-area: 3/1/6/5;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Localisation*/
#localisation {
    background-color:rgb(57, 133, 87);
    grid-template-rows: repeat(11, 85px);
}
#localisation h2 {
    grid-area: 6/2/6/4;
    align-self: center;
}

.map-responsive{
    grid-area: 7/2/10/5;
    overflow:hidden;
    padding-bottom: 55.80%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#localisation .map {
    grid-area: 7/5/11/8;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#localisation .premap {
    grid-area:1/1/5/-1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Contact */

#contactform {
    background-color: rgb(29, 31, 32);
    grid-template-rows: repeat(6, 85px);
    height: auto;
    padding: 0;
    margin: 0;
}

#contactform .contactphoto {
    grid-area: 1/1/7/5;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#contactform figure img {
    padding: 0;
    margin: 0;
}
#contactform form {
    grid-area: 1/5/7/8;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: 20px repeat(8, 1fr) 20px;
    gap: 8px;
}

form h2 {
    grid-area: 2/2/2/6;
    margin: 0;
    padding: 0;
}

input[name="name"] {
    grid-area: 4/4/6/10;
}
input[type="email"] {
    grid-area: 6/4/8/10;
}
label[for="name"]{
    grid-area: 4/2/6/4;
}
label[for="email"]{
    grid-area: 6/2/8/4;
}

button[type="submit"] {
    grid-area: 18/8/20/10;
    background-color: rgb(12, 116, 58);
    border: none;
    margin: 8px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    color: rgb(165, 220, 228);
}

textarea {
    grid-area: 8/2/18/10;
    box-sizing: border-box;
    resize: none;
    vertical-align: top;
}
label {
    justify-self: stretch;
    padding: 15px 0;
    color:rgb(57, 133, 87);
}
input,
textarea {
    padding: 5px;
    margin: 8px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    color: rgb(29, 31, 32);
}
input, 
textarea {
    background-color: rgba(165, 220, 228, 0.6);
    border: 2px solid rgb(165, 220, 228);
}

input:hover,
textarea:hover {
    background-color: rgba(165, 220, 228, 1);
}
button[type="submit"]:hover {
    background-color: rgba(12, 116, 58, 0.7);
}

/* CSS pour le règlement */
.reglement {
    height: 3000px;
}

.reglement h1 {
    grid-area: 2/2/3/7;
    font-size: 40px;
    font-weight: 800;
}
.container {
    grid-area: 4/2/8/-1;
    column-count: 2;
    column-gap: 25px;
    column-rule: 0.7px solid rgb(165, 220, 228);
    padding: 10px;
}
.chapitre h2 {
    margin: 10px 0;
    color: rgb(57, 133, 87);
}
.chapitre p {
    margin: 10px 0 30px 0;
    line-height: 1.5;
}
.chapitre ul li {
    margin: 5px 0;
}
.chapitre {
    break-inside: avoid;
    page-break-inside: avoid;
    border-bottom: 0.7px solid rgb(165, 220, 228);
}

/* CSS Remerciements */
#remerciements {
    height: 100vh;
}
#remerciements h1 {
    padding: 10% 30%;
    font-size: 60px;
    text-align: center;
}

/* Footer */
footer {
    grid-template-rows: repeat(5, 51px);
    height: auto;
    z-index: 5;
    background-color: rgb(29, 31, 32);
    margin: 0;
}
footer h4 {
    grid-area: 1/2/2/4;
    color: rgb(165, 220, 228);
    font-family: 'Libre Baskerville', serif;
    padding: 4px;
}
footer ul {
    grid-area: 2/2/4/6;
    padding: 0;
}
footer ul li {
    list-style: none;
    padding: 4px;
}
footer ul li a {
    color: rgb(165, 220, 228);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 300;
}

footer aside {
    grid-area: 3/5/6/8;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-flow: row wrap;
}
aside p {
    color: rgb(165, 220, 228);
    font-size: 12px;
    padding: 5px;
    text-align: right;
}
aside img {
    width: auto;
    height: 80px;
    display: inline;
    padding: 5px;
}

/* Media Queries */

@media only screen and (max-width : 1200px) {
    .titreaccueil {
        font-size: 56px;
    }
    .photoaccueil {
        grid-area: 1 / 1 / 9 / 5;
    }
    .gradient {
        grid-area: 2 / 1 / 9 / 5;
    }
    .txtintro {
        grid-area: 8 / 2 / 16 / 8;
        z-index: 3;
    }
    #sectionhoraire figure {
        grid-area: 2/5/6/9;
    }
    #cotisation {
        grid-template-rows: repeat(7, 85px);
    }
    #cotisation h2 {
        grid-area: 2/5/3/8;
        align-self: start;
    }
    #cotisation div {
        grid-area: 3/5/7/8;
        align-self: start;
    }
    #cotisation p {
        padding-bottom: 3px;
    }
    #cotisation figure img {
        object-fit: cover;
    }
    .map-responsive {
        padding-bottom: 65.25%;
    }
    main {
        height: 5246px;
    }
    #contactform h2 {
        font-size: 23px;
    }
    #contactform .contactphoto img {
        max-width: 100%;
        max-height:none;
        height: 900px;
    }
    .reglement {
        height: 3050px;
    }
}

@media only screen and (max-width: 810px) {
    nav ul {
        display: none;
    }
    .dropdown {
        display: initial;
    }
    header {
        overflow: initial;
    }
    #accueilintro {
        background-image: linear-gradient(rgba(253, 241, 231, 0), rgba(29, 31, 32, 1)), 
                            url("images/CarloFlouté.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;;
    }
    #accueilintro .photoaccueil {
        display: none;
    }
    #accueilintro .gradient {
        display: none;
    }
    .titreaccueil {
        grid-area: 1 / 2 / 5 / 7;
        text-align: left;
        padding-top: 25px;
    }
    .introaccueil {
        grid-area: 4/2/7/5;
    }
    #slideshow {
        grid-template-rows: repeat(8, 85px);
    }
    #slideshow h2 {
        grid-area: 2 / 2 / 3 / 6;
    }
    #sectionhoraire h2 {
        grid-area: 2/2/3/5;
    }
    #sectionhoraire video {
        grid-area: 2/6/6/9;
    }
    #cotisation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 550px;
    }
    #cotisation figure {
        display: none;
    }
    #cotisation h2 {
        align-self: flex-start;
        padding: 10px 30px;
        margin-top: 60px;
    }
    #cotisation div {
        align-self: center;
        padding: 25px;
    }
    #localisation {
        grid-template-rows: repeat(13, 85px);
    }
    .map-responsive {
        grid-area: 6/2/9/8;
        padding-bottom: 37.25%;
    }
    #localisation .map {
        grid-area: 9/2/13/8;
    }
    #contactform .contactphoto {
        display: none;
    }
    #contactform {
        display: flex;
        flex-direction: column;
    }
    .reglement {
        height: 3135px;
    }
    main {
        height: 5208px;
    }
}

@media only screen and (max-width: 715px) {
    footer h4,
    footer ul {
        display: none;
    }
    footer {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    footer aside {
        margin: 0 20px;
    }
    #sectionhoraire {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    #sectionhoraire h2 {
        align-self: flex-start;
        padding: 10px 30px;
        margin-top: 60px;
    }
    #sectionhoraire .grille {
        padding: 21px;
    }
    #sectionhoraire video {
        flex-basis: auto;
        margin: 35px;
    }
    .reglement {
        height: 4010px;
    }
}

@media only screen and (max-width: 510px) {
    .titreaccueil {
        font-size: 43px;
    }
    #slideshow {
        grid-template-rows: repeat(7, 85px);
    }
    #slideshow h2 {
        grid-area: 1 / 2 / 2 / 7;
        align-self: end;
        margin: 0;
        margin-bottom: 15px;
    }  
    .splide {
        grid-area: 2/2/7/8;
    }  
    #sectionhoraire {
        height: 817px;
    }
    #localisation {
        grid-template-rows: repeat(12, 85px);
    }
    #localisation h2 {
        grid-area: 5/2/6/6;
    }
    .map-responsive {
        padding-bottom: 60.25%;
    }
    #localisation .map {
        grid-area: 9/2/12/8;
    }
    .reglement .container {
        column-count: 1;
    }
    .reglement {
        height: 5200px;
    }
    
    #cotisation {
        height: 500px;
    }
    form label {
        display: none;
    }
    form h2 {
        grid-area: 2/2/2/7;
    }
    #contactform {
        height: 580px;
    }
    input[type="email"] {
        grid-area: 6/2/8/10;
    }
    input[name="name"] {
        grid-area: 4/2/6/10;
    }
    button[type="submit"] {
        grid-area: 18/3/21/9;
    }
    main {
        height: 5239px;
    }
}

@media only screen and (max-width: 370px) {
    #cotisation {
        height: 595px;
    }
    .reglement {
        height: 5965px;
    }
    #localisation {
        grid-template-rows: repeat(11, 85px);
    }
    .map-responsive {
        padding-bottom: 84.25%;
    }
    #localisation .map {
        grid-area: 9/2/11/8;
    }
    #sectionhoraire {
        height: 1183px;
      }
    #sectionhoraire .grille {
        padding: 0;
    }
    form h2 {
        grid-area: 2/2/2/8;
      }
    main {
        height: 5548px;
    }
}

@media only screen and (max-width: 320px) {
    #accueilintro {
        grid-template-rows: repeat(16, 85px);
    }
    h2 {
        font-size: 24px;
    }
    #slideshow h2 {
        grid-area: 1 / 2 / 2 / 8;
    }
    .reglement {
        height: 6425px;
    }
    .map-responsive {
        padding-bottom: 96.25%;
    }
    #sectionhoraire {
        height: 1031px;
      }
    main {
        height: 5548px;
    }
}